@font-face {
  font-family: "Nexa";
  src: url("public/fonts/nexa/Nexa Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nexa";
  src: url("public/fonts/nexa/Nexa Bold.otf") format("opentype");
  font-weight: 600;
  font-style: Bold;
}
@font-face {
  font-family: "Nexa";
  src: url("public/fonts/nexa/Nexa Light.otf") format("opentype");
  font-weight: 100;
  font-style: light;
}
* {
  font-family: "Nexa";
}

h2 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-weight: 100;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.spacer {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.padding {
  padding: 2rem;
}

.padding-top {
  padding-top: 2rem;
}

.margin-top {
  margin-top: 2rem;
}

.padding-bottom {
  padding-bottom: 2rem;
}

.padding-sides {
  padding: 0 2rem 0 2rem;
}

.container-fluid {
  max-width: 192rem;
}

.bg-primary {
  background-color: #0d141a !important;
}

.navbar {
  background-color: #0d141a;
  color: #fbfbfb;
}
.navbar .navbar-brand {
  color: #fbfbfb;
  text-transform: uppercase;
  position: relative;
}
.navbar .navbar-brand p {
  position: relative;
  font-weight: 800;
  z-index: 10;
}
.navbar .navbar-brand span {
  border: 3px solid white;
  position: absolute;
  left: 0.5rem;
  top: 0;
  width: 100%;
  height: 100%;
}
.navbar .navbar-brand:before {
  content: "";
  width: 100%;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 6px;
  z-index: 1;
  background-color: #0d141a;
}
.navbar .nav-link {
  color: #fbfbfb;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
}

footer a {
  color: #fbfbfb;
}
footer a span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
footer a:after {
  content: "|";
  margin: 0 0.5rem;
}
footer a:last-of-type:after {
  content: "";
}

#header {
  height: 80vh;
  height: calc(100vh - 20rem);
  max-height: 92rem;
}
#header .row {
  height: 100%;
  position: relative;
  transition: all 2s;
  overflow: hidden;
}
#header .row .left-col, #header .row .right-col {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 2s;
}
#header .row .left-col .image-container, #header .row .right-col .image-container {
  width: 100vw;
  height: 100%;
  opacity: 0.5;
}
#header .row .left-col {
  left: 0;
  top: -1px;
  z-index: 1;
  background-color: #0e76a8;
}
#header .row .left-col .bg-color {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #0d141a;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 0%, 100% 0%);
  transition: all 2s;
}
#header .row .left-col .text-pos {
  border: 1px solid black;
  width: fit-content;
  position: absolute;
  top: 10%;
  left: 2rem;
}
#header .row .left-col:hover .bg-color {
  transition: all 2s;
  width: 200%;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 0%, 100% 100%);
}
#header .row .right-col {
  right: 0;
  z-index: 0;
}
#header .row .right-col .bg-color {
  position: absolute;
  width: 200%;
  height: 100%;
  background-color: #0e76a8;
}
#header .row .right-col .text-pos {
  border: 1px solid black;
  width: fit-content;
  position: absolute;
  top: 10%;
  right: 2rem;
}
#header .row .right-col:hover {
  width: 100%;
  transition: all 5s;
}

#contact {
  color: #fbfbfb;
}
#contact .letter-svg {
  width: 4rem;
  filter: invert(1);
}
#contact a {
  color: #fbfbfb;
}
#contact .socials svg {
  width: 26px;
  filter: invert(1);
  transition: all 0.3s;
}
#contact .socials .social-link {
  transition: all 0.3s;
}
#contact .socials .social-link:hover svg {
  transition: all 0.3s;
  filter: none;
  fill: #0e76a8;
}

.main-btn {
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
}
.main-btn span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.main-btn span:hover {
  color: #0e76a8;
}
.main-btn span:before, .main-btn span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #0e76a8;
  transition: all 0.3s ease;
}
.main-btn span:before {
  width: 2px;
  height: 0%;
}
.main-btn span:after {
  width: 0%;
  height: 2px;
}
.main-btn span:hover:before {
  height: 100%;
}
.main-btn span:hover:after {
  width: 100%;
}
.main-btn:after, .main-btn:before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #0e76a8;
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
}
.main-btn:before {
  height: 0%;
  width: 2px;
}
.main-btn:after {
  width: 0%;
  height: 2px;
}
.main-btn:hover {
  background: transparent;
  box-shadow: none;
}
.main-btn:hover:before {
  height: 100%;
}
.main-btn:hover:after {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
